<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>MileIT</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<security-role>
		<role-name>users</role-name>
	</security-role>
	<session-config>
		<session-timeout>15</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
	<error-page id="Error403">
		<error-code>403</error-code>
		<location>/WEB-INF/pages/errors/403.jsp</location>
	</error-page>
	<error-page id="Error404">
		<error-code>404</error-code>
		<location>/WEB-INF/pages/errors/404.jsp</location>
	</error-page>
	<error-page id="Error503">
		<error-code>503</error-code>
		<location>/WEB-INF/pages/errors/503.jsp</location>
	</error-page>
</web-app>